.card{
  width: 540px;
}
.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto 32px;
}
.card__list{
  margin: 0 auto;
  padding: 0;
}

.card__list-item{
  padding-bottom: 16px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 5px;


}
.card__list-item:last-child {
  padding-bottom: 0;
}

.card__list-divider{
  display: flex;
  flex-grow: 1;
  border-bottom: black 1px solid;
}
