.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-bottom: 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.header__title {
  display:block;
  margin-top: 80px;
  margin-left: 80px;



  max-width: 729px;
  margin-bottom: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}
.header__span-accent{
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  display: block;
  font-size: 60px;
  line-height: 72px;
  color: #2F80ED;
}
.header__description {
  max-width: 683px;


  margin-top: 28px;
  margin-left: 80px;
  margin-bottom: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height:568px;
  top: 124px;
  right: 5px;
  z-index: -1;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;


}

.header__paragraph {
  display: flex;
  margin: 0 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;

  z-index: 1;
}


